
<style>
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.jumbotron{
    background-color: black;
}
.fa-instagram {
    font-size: 30px;
    align-items: center;
    font-weight: bolder;
    padding-inline: 100px;
    background-position: center;
    margin-right: 10px;
    margin-right: 0.5cm;
    color: white;
    border-radius: 150%;
    -webkit-border-radius: 150%;
    -moz-border-radius: 150%;
    -ms-border-radius: 150%;
    -o-border-radius: 150%;
}
.fa-linkedin {
    font-size: 30px;
    align-items: center;
    font-weight: bolder;
    padding-inline: 100px;
    background-position: center;
    margin-right: 10px;
    margin-right: 0.5cm;
    color: white;
    border-radius: 150%;
    -webkit-border-radius: 150%;
    -moz-border-radius: 150%;
    -ms-border-radius: 150%;
    -o-border-radius: 150%;
}
</style>

<div class="jumbotron text-center"  style="margin-bottom:0">

<a style="color: white" href="https://www.instagram.com/viditkbhatnagar/" target="blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
<a style="color: white" href="https://www.linkedin.com/in/vidit-bhatnagar-24b107146/" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>
</body>
</html>