<%- include("partials/header") %>

<link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    background-image: url('pexels-photo-533923.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
</style>

<div class="container">
<div class="fade-in">
  <img src="DSC_0403-01.jpeg" alt="Snow" style="width:100%;" >
   </div>
  <div class="text-block">
  
   <p>Hey there my name is</p>
    <p><strong><h4>Vidit Bhatnagar</h4></strong></p> 
    <p>Welcome to My World  <i class="fa fa-globe" aria-hidden="true"></i></p> 

  
    </div>
</div>


 <div class="responsive">
  <div class="gallery">
    <a target="_blank" href="DSC_0403-01.jpeg">
      <img src="20190629_112618_0-01.jpeg" alt="Cinque Terre" width="60px" height="40px">
    </a>

    <div class="desc" >
     <a href="/blogs/photo" class="btn btn-info btn-sm"> checkout my shots </a>
 </div>
  </div>
  </div>




 <div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Salesforce_Project_Consulting.jpg">
      <img src="Salesforce_Project_Consulting.jpg" alt="Cinque Terre" width="60" height="40">
    </a>
    <div class="desc">
    <a href="/register" class="btn btn-info btn-sm" >My Projects </a>
    </div>
    
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="DSC_0403-01.jpeg">
      <img src="457769-coming-soon-sign-text-coming-soon-748x499.jpg" alt="Cinque Terre" width="60px" height="40px">
    </a>
    <div class="desc" >
    <a href="/blogs/edit" class="btn btn-info btn-sm" target="blank">Check here </a>
    </div>
  </div>
</div>




<%- include("partials/footer") %>

